<div class="container">
  <h2 class="section-title">Edit Profile</h2>
	<%= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f| %>
		<div>
			<%= f.label :nickname,'Nickname' %>
		</div>
		<div>
			<%= f.text_field :nickname, class: "text-field" %>
		</div>
		<div>
			<%= f.label :introduction,'introduction' %>
		</div>
		<div>
			<%= f.text_area :introduction,class: "text-area" %>
		</div>
    <div>
			<%= f.file_field :avatar %>
		</div>
		<%= f.submit 'Submit', class: 'btn-submit' %>
	<% end %>
</div>